<!DOCTYPE html>
 <html>
 <head>
 <title>Home</title>
 <style>

  body{
   background-image: url('/static/1.jpg');
   background-size: cover;
   text-align: center;
  }

  a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  }

  a:hover, a:active {
  background-color: red;
  }

 </style>
 </head>
 <body>

 <br><br><h1> Employee Management System </h1>
 <br><br><a href="/admin_login">Login as Admin</a><br><br>
 <br><br><a href="/user_login">Login as User</a><br><br>

 </body>

</html>